@font-face {
    font-family: 'Neilvard One';
    src: url('fonts/Neilvard One.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inria Serif', serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    /* background: url(neon-bg.png); */
    color: #fff;
    background-color: #000A15;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section{
    padding: 3rem 5rem;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer p{
    margin-bottom: 50px;
}

.section-one{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.section-one .container{
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 100px;
}

.section-one .left-side{
    display: flex;
    justify-content: center;
    align-items: center;

}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.profile-pic{
    width: 100%;
    max-width: 700px;
    height: auto;
}

.logos {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 25px; 
    text-decoration: none;
    color: inherit;
    font-size: 25px;
}

.nav-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    padding: 2rem 5rem;
}

.nav-bar li a{
    font-size: 25px;
}
.menu-items{
    display: flex;
    gap: 3rem;
}

.menu-items li{
    list-style: none;
}

.menu-items a{
    text-decoration: none;
    color: #fff;
}

.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}


.title-fam{
    font-family: 'Neilvard One';
    font-size: 100px;
}

.title-fam h1{
    color: #00C0FF;
}
.title-fam h2{
    font-size: 50px;
}

.p{
    font-size: 25px;
}

.logos i{
    font-size: 50px;
    color: white;
}

.media-links{
    
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
    gap: 25px;
    margin-top: 25px;
}


button{
    background-color:transparent;
    color: #fff;
    padding: 15px 30px;
    border: 1px solid #007bff;
    border-radius: 50px;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover{
        background-color: #007bff;
}


.right-side{
    justify-self: flex-end;
}

.about{
    font-size: 100px;
    color: #00C0FF;
    text-align: center;
}

.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skills-head{
    color: #00C0FF;
    font-size: 75px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
}

.skill-container h2{
    font-size: 50px;
}

.skill-container{
    margin-bottom: 25px;
    /* border: 1px solid #fff; */
    border-radius: 25px;
    padding: 50px;
}

.skill-pic{
    display: flex;
    gap: 10px;
}

.skill-container h2{
    margin-bottom:25px;
}
.skill-container p{
    font-size: 25px;
    margin-bottom: 25px;
}

.left-side h1{
    color: #00C0FF;
    font-size: 75px;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem 5rem;
}


.card{
    border: 1px solid #00C0FF;
    padding: 50px;
    border-radius: 25px;
}

.card-info h3{
    font-family: Poppins;
    font-size: 50px;
}

.card-info p{
    max-width: 450px;
}

.line{
    width: 100%;
    background-color: rgb(184, 182, 182);
    height: 2px;
    margin-top: 2rem;
}


.name{
    display: flex;
}